.back{
    position: absolute;
    right: 16px;
    top: 4px;
    color: #1890ff;
    cursor: pointer;
    font-size: 16px;
}
.container-wrap{
    position: relative;
}
.content {
    // background: #ECECEC;
    padding:8px;
    padding-top: 32px;
}