
<div class="container-wraper">
    <div style="display: flex;justify-content: space-around;"> 
        <div>
          <h2 class="cont-title">
              各类刑罚的数量分布
          </h2>
          <div id="echart1" style="    width: 360px;height: 233px;"></div>
        </div>
        
  
        <div style="margin-left: 48px;">
          <h2 class="cont-title">
              类罪及其判决数量分布 
          </h2>
          <div id="echart2" style="  width: 480px;height: 263px;"></div>
        </div>
      </div>
      <div style="display: flex;justify-content: space-around;"> 
        <div>
          <h2 class="cont-title">
              各类刑罚的年龄分布
          </h2>
          <div id="echart3" style="    width: 360px;height: 263px;"></div>
        </div>
  
        <div style="margin-left: 48px;">
          <h2 class="cont-title">
              各类刑罚的文化程度分布
          </h2>
          <div id="echart4" style="    width: 480px;height: 273px;"></div>
        </div>
        </div>
</div>